<ion-view view-title="Items">
  <ion-content padding="true">
    <h3>Bungie.net User</h3>
    <div><span>Display Name:</span> <span>{{ vm.displayName }}</span></div>
    <h3>Platforms</h3>
    <div><span>Gamertag:</span> <span>{{ vm.gamertag }}</span></div>
    <div><span>PSN ID:</span> <span>{{ vm.psnId }}</span></div>
    <h3>Clan</h3>
    <div><span>Name:</span> <span>{{ vm.clanName }}</span></div>
    <div><span>Motto:</span> <span>{{ vm.clanMotto }}</span></div>
    <h3></h3>
    <div><span>It's real late...</span></div>
    <div><span>{{ vm.now }}</span></div>
    <div><span>{{ vm.nowScope }}</span></div>
  </ion-content>
</ion-view>
