<ion-view view-title="Sign In">
  <ion-header-bar>
    <h1 class="title">Sign In</h1>
    <div class="buttons" ng-if="vm.tracker.active()">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true">
    <div>
      <p>Please sign into Bungie.net.</p>
    </div>

    <ion-list>
      <ion-item ng-click="vm.signIn('psn')">Playstation Network</ion-item>
      <ion-item ng-click="vm.signIn('xbl')">Xbox Live</ion-item>
    </ion-list>
    <p></p>
    <div>
      <p>DIM does not use or store your Playstation Network or Xbox Live credentials.</p>
    </div>

    <div>
      <p>You'll be redirected to a page on Bungie.net to authenticate with your credentials.  When you have signed in, you'll be returned to DIM.</p>
    </div>

    <div>
      <p>
        <a href="">How does authentication work?</a>
      </p>
    </div>
  </ion-content>
</ion-view>
