<ion-view view-title="Welcome">
  <style>
.ordered-list {
  list-style: decimal;
  margin: 15px;
  padding: 10px;
}
  </style>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <h3>Thank you Guardians.</h3>
    <div>
      <p>During our alpha tests, we are asking you to help test features of DIM v4 that we're developing.</p>
    </div>
    <div>
      <p>This client is a login/logout test.  We need you to perform the following steps several times for us to make sure that we can sign into your account, and more importantly, clear your credentials when you sign out.</p>
    </div>
    <div>
      <ol class="ordered-list">
        <li>Try to view your items in DIM.  This is a protected feature so it will reuire you to sign into Bungie.net.</li>
        <li>Sign into Bungie.net with your PSN ID or Microsoft Account.</li>
        <li>Verify that the data you see is your Bunige.net Account information.</li>
        <li>Sign out of your Bungie.net account.</li>
      </ol>
    </div>
    <div>
      <p>That's is for this release. We have a list of our tasks and milestones on Github if you're interested in what we're doing.</p>
    </div>
  </ion-content>
</ion-view>
