<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Destiny Item Manager v4</title>
    <style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
    </style>
  </head>
  <body class="ng-cloak">
    <ion-nav-view></ion-nav-view>
    <script src="<%= htmlWebpackPlugin.files.chunks['vendors'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['polyfill'].entry %>"></script>
    <script src="cordova.js"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
    <!-- <%= htmlWebpackPlugin.options.pkg.name + ' v' + htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %> -->
  </body>
</html>
